<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Use these two lines if you want the converted images to be placed
  # in the same folder as the original image
  # You are then expected to create HTML like this:
  # <picture>
  #  <source srcset="logo.jpg.webp" type="image/webp" />
  #  <img src="logo.jpg" />
  # </picture>

  RewriteCond %{DOCUMENT_ROOT}/$1.$2.webp !-f
  RewriteRule ^(.*)\.(jpe?g|png)\.(webp)$ webp-convert/webp-convert.php?source=$1.$2&quality=80&preferred-converters=imagick,cwebp&serve-image [T=image/webp]

  # Use the following two lines instead, if you want the converted images to be placed in
  # a separate folder, "/webp-cache/".
  # You can change the name of the folder, but make sure to change it in all three places
  # You are then expected to create HTML like this:
  # <picture>
  #  <source srcset="/webp-cache/some/subfolder/logo.jpg.webp" type="image/webp" />
  #  <img src="/some/subfolder/logo.jpg" />
  # </picture>

  # Pst: Do not add full url with http in the rewrite rules, it will cause an extra request
  # RewriteCond %{DOCUMENT_ROOT}/webp-cache/$1$2.$3.webp !-f
  # RewriteRule ^(.*)webp-cache\/(.*)\.(jpe?g|png)\.(webp)$ webp-convert/webp-convert.php?source=$1$2.$3&quality=80&destination-root=webp-cache&preferred-converters=imagick,cwebp&serve-image [T=image/webp]

</IfModule>

AddType image/webp .webp
